In [1]:
#coding:gbk
import datascience
from datascience import *
data1 = Table.read_table('D:/python/data/hadoop.csv')
data2 = Table.read_table('D:/python/data/hive.csv')
data3 = Table.read_table('D:/python/data/spark.csv')
data4 = Table.read_table('/python/data/高数监考表.csv')
data_all=[data1,data2,data3,data4]
subjects=[]
dates=[]
times=[]
classrooms=[]
name=input("请输入要查询学生的名字:")
for i in data_all:
    temp = i.where("学号", name)
    subject = temp[5]
    date = temp[2]
    time = temp[3]
    classroom = temp[4]
    subjects.append(subject)
    dates.append(date)
    times.append(time)
    classrooms.append(classroom)

students=Table().with_columns("科目",subjects,"日期",dates,"时间",times,"教室",classrooms)

请输入要查询学生的名字:朱兴奇

In [2]:
students

科目         | 日期             | 时间              | 教室
['hadoop'] | ['2022/11/14'] | ['14:30-16:30'] | ['理一A312']
[]         | []             | []              | []
[]         | []             | []              | []
['高数']     | ['2022/11/14'] | ['8:30-10:30']  | ['理一B312']